//
   Created by Jiangda on 2015/7/6.

include header
form(action="",method="post")
    p 用户名：
        input(type="text",name="name")
    p 密码:
        input(type="password",name="password")
    input(type="submit",value="登录")
include footer