//
   Created by Jiangda on 2015/7/6.

include header
form(method="post")
    p 用户名：
        input(type="text",name="name")
    p 新密码：
        input(type="password",name="password")
    p 重新输入密码：
        input(type="password",name="password-repeat")
    p 电子邮箱：
        input(type="email",name="email")
    input(type="submit",value="注册")
include footer